* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(to bottom, #2977FF 0%, #FFFFFF 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #fff;
  width: 350px;
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header img.mascot {
  width: 120px;
  margin-bottom: 15px;
}

.header h1 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.login-form {
  text-align: left;
}

.login-form label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
}

.password-field {
  position: relative;
}

.password-field input {
  padding-right: 40px;
}


button {
  width: 100%;
  background-color: #2977FF;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #1d5ed4;
}

.show-password-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.show-password-wrapper input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0;
}

.show-password-wrapper label {
  font-size: 13px;
  color: #333;
  cursor: pointer;
  user-select: none;
  line-height: 1;
}
