@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Variabel Desain */
:root {
    --primary: #2977FF;
    --background: #f9fafb;
    --text: #111827;
    --muted: #6b7280;
    --radius: 12px; 
    --shadow: 0 4px 12px rgba(37,99,235,0.1); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif; 
    background-color: var(--background); 
    color: var(--text); 
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: var(--primary); 
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.nav-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-logout a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    background-color: #e63946;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    transition: background-color 0.2s, opacity 0.2s;
}

.nav-logout a:hover {
    background-color: #d62828;
    opacity: 0.9;
}

/* --- Main Content --- */
.container {
    max-width: 1100px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: var(--radius); 
    box-shadow: var(--shadow); 
    align-items: center;
    justify-content: center;
}

h1 {
  text-align: center;
  color: #2977FF;
}

.form-card {
  margin: auto;
  width: 100%;
}

label {
  font-size: 16px;
}

#inputNama {
  width: 200px;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
}

select {
  width: 200px;
  font-size: 14px;
  padding: 4px;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group a {
    margin-left: auto;
}

.add-btn {
    background-color: green;
    width: fit-content;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #2977FF;
  border-radius: 4px;
}